* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: #e2d0b7;
}