@import url('https://fonts.googleapis.com/css?family=Muli:300,700&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: #fbfcfe;
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    background-color: #fff;
    border: 3px #000 solid;
    border-radius: 10px;
    padding: 50px;
    max-width: 1000px;
    text-align: center;
}

.code-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}

.code {
    caret-color: transparent;
    border-radius: 5px;
    font-size: 75px;
    height: 120px;
    width: 100px;
    border: 1px solid #eee;
    margin: 1%;
    text-align: center;
    font-weight: 300;
    -moz-appearance: textfield;
}


/* It is to remove the arrow in input field to increase/decrease the value */

.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* If we have a number in the input field than this properties will be added */

.code:valid {
    border-color: #3498db;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.25);
}

.info {
    background-color: #eaeaea;
    display: inline-block;
    padding: 10px;
    line-height: 20px;
    max-width: 400px;
    color: #777;
    border-radius: 5px;
}

.info a {
    text-decoration: none;
    color: inherit;
}


/* Media query to hanle the smaller window size */

@media (max-width: 600px) {
    .code-container {
        flex-wrap: wrap;
    }
    .code {
        font-size: 60px;
        height: 80px;
        max-width: 70px;
    }
}