* {
    box-sizing: border-box;
}

body {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: #400D51;
}

.kinetic {
    position: relative;
    height: 80px;
    width: 0px;
}


/* It will create two tringales at the same position */

.kinetic::after,
.kinetic::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom-color: #31E1F7;
    animation: rotateA 2s linear infinite 0.5s;
}

.kinetic::before {
    transform: rotate(90deg);
    animation: rotateB 2s linear infinite;
}

@keyframes rotateA {
    0%,
    25% {
        transform: rotate(0deg);
    }
    50%,
    75% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateB {
    0%,
    25% {
        transform: rotate(90deg);
    }
    50%,
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(450deg);
    }
}
