@import url('https://fonts.googleapis.com/css?family=Heebo:300,600&display=swap');
* {
    box-sizing: border-box;
}

 :root {
    --primary-color: black;
    --secondary-color: white;
}

html {
    transition: all 0.5s ease-in;
}

html.dark {
    --primary-color: white;
    --secondary-color: gray;
}

html.dark {
    background-color: #111;
    color: var(--primary-color);
}

body {
    font-family: 'Heebo', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}


/* styling the toggle button */

.toggle {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 0;
    border-radius: 4px;
    padding: 8px 12px;
    position: absolute;
    top: 100px;
    cursor: pointer;
}


/* setting the outline =0 when it is clicked */

.toggle:focus {
    outline: 0;
}


/* styling the clock-container */

.clock-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.clock {
    position: relative;
    width: 200px;
    height: 200px;
}


/* styling the needles with some common properties */

.needle {
    background-color: var(--primary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    height: 65px;
    width: 3px;
    /* transform-origin helps in  setting  the origin for an element's transformations.*/
    transform-origin: bottom center;
}

.needle.hour {
    /* Property that will hanle the position of the hour needle */
    transform: translate(-50%, -100%) rotate(0deg);
}

.needle.minute {
    /* propety to handle the position of the minute handle */
    transform: translate(-50%, -100%) rotate(0deg);
    height: 100px;
}


/* Propety to hanlde the second needle of the clock */

.needle.second {
    transform: translate(-50%, -100%) rotate(0deg);
    height: 100px;
    background-color: red;
}


/* it styles the center dot of the circle  */

.center-point {
    background-color: #e74c3c;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.center-point::after {
    content: '';
    background-color: var(--primary-color);
    width: 5px;
    height: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.time {
    font-size: 60px;
}

.date {
    color: #aaa;
    font-size: 14px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}


/* styling the date and span circle for date */

.date .circle {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 50%;
    height: 18px;
    width: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 18px;
    transform: all 0.5s ease-in;
    font-size: 12px;
}